<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/dist/favicon.ico}">

    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/dist/css/bootstrap..min.css}">
    <link th:href="@{/dist/css/signin.css}">


    <!-- Custom styles for this template -->
        <link th:href="@{/dist/css/bootstrap.css}" >


</head>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">
        <div class="container" >
            <form class="form-signin" th:action="@{/login}" method="post">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <span style="color:red; font-size: 20px;" th:if="${loginError}">用户名或密码错误</span>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div> <!-- /container -->
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">WYBM</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="#">home</a></li>
                            <li class="active"><a href="#">adminLogin</a></li>
                            <li><a href="#">userLogin</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script th:src="@{/dist/js/jquery-3.1.1.js}"></script>
<script>window.jQuery || document.write('<script src="/dist/js/jquery-3.1.1.js"><\/script>')</script>
<script th:src="@{/dist/js/bootstrap.js}"></script>-->

</body>
</html>